<h1>Edit User Account</h1>

<%= form_for current_user do |f| %>
<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div>
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>

<%= link_to 'Change Password', edit_password_path %>
