<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to 'Home', home_path %> |
  <%= link_to 'About', about_path %> |
  <%= link_to 'All Posts', posts_path %> |
  <%= link_to 'New Post', new_post_path %>
  <% if user_signed_in? %>
    Hello <%= link_to current_user.first_name, edit_user_path(current_user) %>
    <%= link_to 'Logout', sessions_path, method: :delete, data: { confirm: 'Are you sure you want to logout?' } %>
  <% else %>
    <%= link_to 'Login', new_session_path %>
    <%= link_to 'Sign Up', new_user_path %>
  <% end %>
  <%= flash[:notice] || flash[:alert] %>
</nav>

<%= yield %>

</body>
</html>
